build==1.2.2.post1
click==8.3.0
flit_core==3.12.0
packaging==24.2
pip-tools==7.4.1
pyproject_hooks==1.2.0
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
setuptools==79.0.1
setuptools-scm==8.3.1
wheel==0.44.0
