build==1.2.2.post1
click==8.2.1
flit_core==3.12.0
packaging==25.0
pip-tools==7.4.1
pyproject_hooks==1.2.0
ruamel.yaml==0.18.13
ruamel.yaml.clib==0.2.12
setuptools==80.9.0
setuptools-scm==8.3.1
wheel==0.45.1
