apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- manager.yaml
- metrics_service.yaml
generatorOptions:
  disableNameSuffixHash: true
configMapGenerator:
- files:
  - controller_manager_config.yaml
  name: manager-config
patches:
- path: manager_webhook_patch.yaml
images:
- name: controller
  newName: quay.io/netobserv/network-observability-operator
  newTag: 1.10.0-community
labels:
- includeSelectors: true
  pairs:
    app: netobserv-operator
- pairs:
    part-of: netobserv-operator
