apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    control-plane: controller-manager
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: controller-manager
    spec:
      securityContext:
        runAsNonRoot: true
      containers:
      - command:
        - /manager
        args:
        - --health-probe-bind-address=:8081
        - --metrics-bind-address=:8443
        - --leader-elect
        - --ebpf-agent-image=$(RELATED_IMAGE_EBPF_AGENT)
        - --flowlogs-pipeline-image=$(RELATED_IMAGE_FLOWLOGS_PIPELINE)
        - --console-plugin-image=$(RELATED_IMAGE_CONSOLE_PLUGIN)
        - --console-plugin-compat-image=$(RELATED_IMAGE_CONSOLE_PLUGIN_COMPAT)
        - --downstream-deployment=$(DOWNSTREAM_DEPLOYMENT)
        - --profiling-bind-address=$(PROFILING_BIND_ADDRESS)
        env:
          - name: RELATED_IMAGE_EBPF_AGENT
            value: quay.io/netobserv/netobserv-ebpf-agent:v1.8.2-community
          - name: RELATED_IMAGE_FLOWLOGS_PIPELINE
            value: quay.io/netobserv/flowlogs-pipeline:v1.8.2-community
          - name: RELATED_IMAGE_CONSOLE_PLUGIN
            value: quay.io/netobserv/network-observability-console-plugin:v1.8.2-community
          - name: RELATED_IMAGE_CONSOLE_PLUGIN_COMPAT
            value: quay.io/netobserv/network-observability-console-plugin-pf4:v1.8.2-community
          - name: DOWNSTREAM_DEPLOYMENT
            value: "false"
          - name: PROFILING_BIND_ADDRESS
            value: ""
        image: controller:latest
        name: manager
        imagePullPolicy: Always
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
          readOnlyRootFilesystem: true
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            memory: 400Mi
          requests:
            cpu: 100m
            memory: 100Mi
      serviceAccountName: controller-manager
      terminationGracePeriodSeconds: 10
