apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  name: netobserv-webhook-service
  namespace: netobserv
spec:
  ports:
    - port: 443
      protocol: TCP
      targetPort: 9443
  selector:
    control-plane: controller-manager
status:
  loadBalancer: {}
