apiVersion: v1
data:
  controller_manager_config.yaml: |
    apiVersion: controller-runtime.sigs.k8s.io/v1alpha1
    kind: ControllerManagerConfig
    health:
      healthProbeBindAddress: :8081
    metrics:
      bindAddress: :8443
    webhook:
      port: 9443
    leaderElection:
      leaderElect: true
      resourceName: 7a7ecdcd.netobserv.io
kind: ConfigMap
metadata:
  labels:
    app: netobserv-operator
  name: netobserv-manager-config
  namespace: netobserv
