apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: manager-metrics-tls
  creationTimestamp: null
  labels:
    app: netobserv-operator
    control-plane: controller-manager
  name: netobserv-metrics-service
spec:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: 8443
  selector:
    app: netobserv-operator
    control-plane: controller-manager
status:
  loadBalancer: {}
