
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-netobserv-io-v1beta1-flowcollector
  failurePolicy: Fail
  name: flowcollectorconversionwebhook.netobserv.io
  rules:
  - apiGroups:
    - netobserv.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - flowcollectors
  sideEffects: None
