apiVersion: operators.coreos.com/v1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Seamless Upgrades
    categories: Monitoring, Networking, Observability
    console.openshift.io/plugins: '["netobserv-plugin"]'
    containerImage: ':container-image:'
    createdAt: ''
    description: Network flows collector and monitoring solution
    support: NetObserv team
    operatorframework.io/suggested-namespace: openshift-netobserv-operator
    operatorframework.io/initialization-resource: '{"apiVersion":"flows.netobserv.io/v1beta2",
      "kind":"FlowCollector","metadata":{"name":"cluster"},"spec": {}}'
    repository: https://github.com/netobserv/network-observability-operator
  labels:
    operatorframework.io/arch.amd64: supported
    operatorframework.io/arch.arm64: supported
    operatorframework.io/arch.ppc64le: supported
    operatorframework.io/arch.s390x: supported
    operatorframework.io/os.linux: supported
  name: netobserv-operator.v0.0.0
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: '`FlowCollector` is the schema for the network flows collection
        API, which pilots and configures the underlying deployments.'
      displayName: Flow Collector
      kind: FlowCollector
      name: flowcollectors.flows.netobserv.io
      version: v1beta2
      specDescriptors:
        # Reference: https://github.com/openshift/console/blob/master/frontend/packages/operator-lifecycle-manager/src/components/descriptors/reference/reference.md
        # ROOT
        - description: defines the desired type of deployment for flow processing.
          path: deploymentModel
        # AGENT
        - description: for flows extraction.
          displayName: Agent configuration
          path: agent
        - path: agent.type
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:hidden
        - path: agent.ipfix
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:hidden
        - description: Settings related to the eBPF-based flow reporter.
          displayName: eBPF Agent configuration
          path: agent.ebpf
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:agent.type:eBPF
        - displayName: Privileged mode
          path: agent.ebpf.privileged
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:booleanSwitch
        - path: agent.ebpf.cacheActiveTimeout
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:advanced
        - path: agent.ebpf.cacheMaxFlows
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:advanced
        - path: agent.ebpf.kafkaBatchSize
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:deploymentModel:Kafka
            - urn:alm:descriptor:com.tectonic.ui:advanced
        - path: agent.ebpf.logLevel
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:advanced
        - path: agent.ebpf.imagePullPolicy
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:imagePullPolicy
            - urn:alm:descriptor:com.tectonic.ui:advanced
        - displayName: Resource Requirements
          path: agent.ebpf.resources
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:resourceRequirements
        - path: agent.ebpf.advanced
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:hidden
        - path: agent.ebpf.flowFilter
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:hidden
        - path: agent.ebpf.metrics.enable
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:hidden
        # KAFKA
        - description: to use Kafka as a broker as part of the flow collection pipeline.
          displayName: Kafka configuration
          path: kafka
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:deploymentModel:Kafka
        - displayName: TLS configuration
          path: kafka.tls
        - path: kafka.tls.enable
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:booleanSwitch
        - displayName: Insecure
          path: kafka.tls.insecureSkipVerify
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:booleanSwitch
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:kafka.tls.enable:true
        - displayName: User certificate when using mTLS
          path: kafka.tls.userCert
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:kafka.tls.enable:true
        - displayName: CA certificate
          path: kafka.tls.caCert
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:kafka.tls.enable:true
        - path: kafka.sasl
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:hidden
        # PROCESSOR / FLP
        - description: of the component that receives the flows from the agent, enriches them, generates metrics, and forwards them to the Loki persistence layer and/or any available exporter.
          displayName: Processor configuration
          path: processor
        - displayName: Multi-cluster deployment
          path: processor.multiClusterDeployment
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:advanced
            - urn:alm:descriptor:com.tectonic.ui:booleanSwitch
        - path: processor.clusterName
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:advanced
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:processor.multiClusterDeployment:true
        - displayName: Availability zones
          path: processor.addZone
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:booleanSwitch
        - path: processor.advanced
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:hidden
        - displayName: Metrics configuration
          path: processor.metrics
        - displayName: Server configuration
          path: processor.metrics.server
        - displayName: TLS configuration
          path: processor.metrics.server.tls
        - displayName: Insecure
          path: processor.metrics.server.tls.insecureSkipVerify
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:processor.metrics.server.tls.type:Provided
        - displayName: Cert
          path: processor.metrics.server.tls.provided
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:processor.metrics.server.tls.type:Provided
        - displayName: CA
          path: processor.metrics.server.tls.providedCaFile
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:processor.metrics.server.tls.type:Provided
        - path: processor.kafkaConsumerReplicas
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:deploymentModel:Kafka
            - urn:alm:descriptor:com.tectonic.ui:advanced
        - displayName: kafka consumer autoscaler
          path: processor.kafkaConsumerAutoscaler
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:deploymentModel:Kafka
            - urn:alm:descriptor:com.tectonic.ui:advanced
        - path: processor.kafkaConsumerQueueCapacity
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:deploymentModel:Kafka
            - urn:alm:descriptor:com.tectonic.ui:advanced
        - path: processor.kafkaConsumerBatchSize
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:deploymentModel:Kafka
            - urn:alm:descriptor:com.tectonic.ui:advanced
        - path: processor.subnetLabels.openShiftAutoDetect
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:hidden
        - path: processor.logLevel
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:advanced
        - path: processor.imagePullPolicy
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:imagePullPolicy
            - urn:alm:descriptor:com.tectonic.ui:advanced
        - displayName: Resource Requirements
          path: processor.resources
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:resourceRequirements
        # LOKI
        - description: for the flow store.
          displayName: Loki client settings
          path: loki
        - path: loki.enable
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:booleanSwitch
        - path: loki.mode
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:loki.enable:true
        - path: loki.lokiStack
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:loki.mode:LokiStack
        - path: loki.monolithic
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:loki.mode:Monolithic
        - path: loki.microservices
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:loki.mode:Microservices
        - path: loki.manual
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:loki.mode:Manual
        - path: loki.writeBatchWait
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:loki.enable:true
            - urn:alm:descriptor:com.tectonic.ui:advanced
        - path: loki.writeBatchSize
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:loki.enable:true
            - urn:alm:descriptor:com.tectonic.ui:advanced
        - path: loki.writeTimeout
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:loki.enable:true
            - urn:alm:descriptor:com.tectonic.ui:advanced
        - path: loki.advanced
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:hidden
        # CONSOLE PLUGIN
        - description: related to the OpenShift Console integration.
          displayName: Console plugin configuration
          path: consolePlugin
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:loki.enable:true
        - path: consolePlugin.enable
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:booleanSwitch
        - path: consolePlugin.portNaming
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:consolePlugin.enable:true
        - path: consolePlugin.quickFilters
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:consolePlugin.enable:true
        - path: consolePlugin.replicas
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:consolePlugin.enable:true
            - urn:alm:descriptor:com.tectonic.ui:advanced
        - displayName: Horizontal pod autoscaler
          path: consolePlugin.autoscaler
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:consolePlugin.enable:true
            - urn:alm:descriptor:com.tectonic.ui:advanced
        - path: consolePlugin.logLevel
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:consolePlugin.enable:true
            - urn:alm:descriptor:com.tectonic.ui:advanced
        - path: consolePlugin.imagePullPolicy
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:imagePullPolicy"
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:consolePlugin.enable:true
            - urn:alm:descriptor:com.tectonic.ui:advanced
        - displayName: Resource Requirements
          path: consolePlugin.resources
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:resourceRequirements
            - urn:alm:descriptor:com.tectonic.ui:fieldDependency:consolePlugin.enable:true
        - path: consolePlugin.advanced
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:hidden
        # EXPORTERS
        - description: additional optional exporters for custom consumption or storage.
          path: exporters
          x-descriptors:
            - urn:alm:descriptor:com.tectonic.ui:advanced
        - displayName: Type
          path: exporters[0].type
        - displayName: IPFIX configuration
          path: exporters[0].ipfix
          x-descriptors:
            - "urn:alm:descriptor:com.tectonic.ui:fieldDependency:exporters.type:IPFIX"
        - displayName: Kafka configuration
          path: exporters[0].kafka
          x-descriptors:
            - "urn:alm:descriptor:com.tectonic.ui:fieldDependency:exporters.type:Kafka"
        - displayName: OpenTelemetry configuration
          path: exporters[0].openTelemetry
          x-descriptors:
            - "urn:alm:descriptor:com.tectonic.ui:fieldDependency:exporters.type:OpenTelemetry"
      statusDescriptors:
        - displayName: Namespace
          description: Namespace where console plugin and flowlogs-pipeline have been deployed.
          path: namespace
          x-descriptors:
            - urn:alm:descriptor:text
        - description: Conditions of the FlowCollector instance health.
          displayName: Conditions
          path: conditions
          x-descriptors:
            - urn:alm:descriptor:io.kubernetes.conditions
    - description: '`FlowMetric` is the schema for the custom metrics API,
        which allows to generate more metrics out of flow logs.
        You can find examples here: https://github.com/netobserv/network-observability-operator/tree/main/config/samples/flowmetrics'
      displayName: Flow Metric
      kind: FlowMetric
      name: flowmetrics.flows.netobserv.io
      version: v1alpha1
    - description: '`FlowCollectorSlice` is the schema allowing delegated configuration per namespace.'
      displayName: Flow Collector Slice
      kind: FlowCollectorSlice
      name: flowcollectorslices.flows.netobserv.io
      version: v1alpha1
  description: ':full-description:'
  displayName: NetObserv Operator
  icon:
  - base64data: PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI2LjAuMiwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxMDAgMTAwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMDAgMTAwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6dXJsKCNTVkdJRF8xXyk7fQoJLnN0MXtmaWxsOiNGRkZGRkY7fQoJLnN0MntvcGFjaXR5OjAuNjt9Cgkuc3Qze29wYWNpdHk6MC41O30KCS5zdDR7b3BhY2l0eTowLjQ7fQo8L3N0eWxlPgo8Zz4KCTxnPgoJCTxnPgoJCQk8cmFkaWFsR3JhZGllbnQgaWQ9IlNWR0lEXzFfIiBjeD0iMTQuNzc1OCIgY3k9Ii0yLjk3NzEiIHI9IjkxLjYyNyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiPgoJCQkJPHN0b3AgIG9mZnNldD0iMCIgc3R5bGU9InN0b3AtY29sb3I6IzNDM0ZBNiIvPgoJCQkJPHN0b3AgIG9mZnNldD0iMSIgc3R5bGU9InN0b3AtY29sb3I6IzNCMDM0MCIvPgoJCQk8L3JhZGlhbEdyYWRpZW50PgoJCQk8cGF0aCBjbGFzcz0ic3QwIiBkPSJNNTAsOTljLTEzLjMsMC0yNS40LTUuMy0zNC4yLTEzLjlDNi43LDc2LjIsMSw2My43LDEsNTBDMSwyMi45LDIyLjksMSw1MCwxYzEzLjcsMCwyNi4yLDUuNywzNS4xLDE0LjgKCQkJCUM5My43LDI0LjYsOTksMzYuNyw5OSw1MEM5OSw3Ny4xLDc3LjEsOTksNTAsOTl6Ii8+CgkJPC9nPgoJCTxnPgoJCQk8Y2lyY2xlIGNsYXNzPSJzdDEiIGN4PSIzNy41IiBjeT0iODEuOSIgcj0iNSIvPgoJCTwvZz4KCQk8cGF0aCBjbGFzcz0ic3QxIiBkPSJNNDguNiw5MS45bDE4LjgtNDMuM2MtMi41LTAuMS01LTAuNy03LjItMkwzMy4yLDY4LjJsMS40LTEuOGwyMC0yNS4xYy0xLjUtMi40LTIuMy01LjEtMi4zLTcuOUw5LDUyLjIKCQkJbDQ3LjYtMjkuOWwwLDBjMC4xLTAuMSwwLjItMC4yLDAuMi0wLjJjNi4xLTYuMSwxNS45LTYuMSwyMiwwbDAuMSwwLjFjNiw2LjEsNiwxNS45LTAuMSwyMS45Yy0wLjEsMC4xLTAuMiwwLjItMC4yLDAuMmwwLDAKCQkJTDQ4LjYsOTEuOXoiLz4KCQk8ZyBjbGFzcz0ic3QyIj4KCQkJPGNpcmNsZSBjbGFzcz0ic3QxIiBjeD0iNTAuMyIgY3k9IjE0LjciIHI9IjMuMSIvPgoJCTwvZz4KCQk8ZyBjbGFzcz0ic3QzIj4KCQkJPGNpcmNsZSBjbGFzcz0ic3QxIiBjeD0iMjcuNyIgY3k9IjU4IiByPSIxLjciLz4KCQk8L2c+CgkJPGc+CgkJCTxjaXJjbGUgY2xhc3M9InN0MSIgY3g9Ijc3LjQiIGN5PSI2OS4zIiByPSIxLjciLz4KCQk8L2c+CgkJPGc+CgkJCTxjaXJjbGUgY2xhc3M9InN0MSIgY3g9IjE2LjMiIGN5PSIzNi42IiByPSIxLjciLz4KCQk8L2c+CgkJPGcgY2xhc3M9InN0NCI+CgkJCTxjaXJjbGUgY2xhc3M9InN0MSIgY3g9IjYzLjciIGN5PSI4NS45IiByPSIyLjIiLz4KCQk8L2c+CgkJPGc+CgkJCTxjaXJjbGUgY2xhc3M9InN0MSIgY3g9IjI5LjQiIGN5PSIxOS42IiByPSI0LjgiLz4KCQk8L2c+CgkJPGcgY2xhc3M9InN0MyI+CgkJCTxjaXJjbGUgY2xhc3M9InN0MSIgY3g9Ijg4IiBjeT0iNTAiIHI9IjQuOCIvPgoJCTwvZz4KCTwvZz4KPC9nPgo8L3N2Zz4K
    mediatype: image/svg+xml
  install:
    spec:
      deployments: null
    strategy: ""
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - network observability
  - ebpf
  - ipfix
  - flow tracing
  - flows
  - topology
  - network
  - observability
  links:
  - name: Project page
    url: https://github.com/netobserv/network-observability-operator
  - name: Issue tracker
    url: https://github.com/netobserv/network-observability-operator/issues
  - name: Discussion board
    url: https://github.com/netobserv/network-observability-operator/discussions
  maintainers:
  - email: jpinsonn@redhat.com
    name: Julien Pinsonneau
  - email: jtakvori@redhat.com
    name: Joel Takvorian
  - email: lberetta@redhat.com
    name: Leandro Beretta
  - email: ljira@redhat.com
    name: Luis Jira
  - email: mmahmoud@redhat.com
    name: Mohamed S. Mahmoud
  - email: ocazade@redhat.com
    name: Olivier Cazade
  - email: stlee@redhat.com
    name: Steven Lee
  maturity: alpha
  minKubeVersion: 1.23.0
  provider:
    name: Red Hat
    url: https://www.redhat.com
  version: 0.0.0
