apiVersion: flows.netobserv.io/v1alpha1
kind: FlowCollector
metadata:
  name: cluster
spec:
  namespace: netobserv
  deploymentModel: DIRECT
  agent:
    type: EBPF
    ipfix:
      cacheActiveTimeout: 20s
      cacheMaxFlows: 400
      sampling: 400
      clusterNetworkOperator:
        namespace: openshift-network-operator
      ovnKubernetes:
        namespace: ovn-kubernetes
        daemonSetName: ovnkube-node
        containerName: ovnkube-node
    ebpf:
      image: 'quay.io/netobserv/netobserv-ebpf-agent:main'
      imagePullPolicy: IfNotPresent
      sampling: 50
      cacheActiveTimeout: 5s
      cacheMaxFlows: 100000
      interfaces: [ ]
      excludeInterfaces: [ "lo" ]
      logLevel: info
      privileged: false
      resources:
        requests:
          memory: 50Mi
          cpu: 100m
        limits:
          memory: 800Mi
      kafkaBatchSize: 10485760
  processor:
    port: 2055
    image: 'quay.io/netobserv/flowlogs-pipeline:main'
    imagePullPolicy: IfNotPresent
    logLevel: info
    enableKubeProbes: true
    healthPort: 8080
    profilePort: 6060
    metrics:
      server:
        port: 9102
      ignoreTags:
        - egress
        - packets
    dropUnusedFields: true
    resources:
      requests:
        memory: 100Mi
        cpu: 100m
      limits:
        memory: 800Mi
    kafkaConsumerReplicas: 3
    kafkaConsumerAutoscaler: null
    kafkaConsumerQueueCapacity: 1000
    kafkaConsumerBatchSize: 10485760
  operatorsAutoInstall: [ ]
  kafka:
    autoInstallSpec:
      replicas: 3
      storage:
        type: persistent-claim
        size: 200Gi
        class: gp2
      zooKeeperReplicas: 3
      zooKeeperStorage:
        type: persistent-claim
        size: 20Gi
        class: gp2
      partitions: 24
      topicReplicas: 3
    address: "kafka-cluster-kafka-bootstrap.netobserv"
    topic: network-flows
    tls:
      enable: false
      caCert:
        type: secret
        name: kafka-cluster-cluster-ca-cert
        certFile: ca.crt
      userCert:
        type: secret
        name: flp-kafka
        certFile: user.crt
        certKey: user.key
  loki:
    autoInstallSpec:
      secretName: loki-secret
      objectStorageType: s3
      size: 1x.small
      storageClassName: gp2
      retentionDays: 1
    url: 'http://loki.netobserv.svc:3100/'
    batchWait: 1s
    batchSize: 10485760
    minBackoff: 1s
    maxBackoff: 5s
    maxRetries: 2
    staticLabels:
      app: netobserv-flowcollector
    tls:
      enable: false
      caCert:
        type: configmap
        name: loki
        certFile: service-ca.crt
  consolePlugin:
    register: true
    image: 'quay.io/netobserv/network-observability-console-plugin:main'
    imagePullPolicy: IfNotPresent
    port: 9001
    logLevel: info
    autoscaler:
      status: DISABLED
      minReplicas: 1
      maxReplicas: 3
      metrics:
      - type: Resource
        resource:
          name: cpu
          target:
            type: Utilization
            averageUtilization: 50
    portNaming:
      enable: true
      portNames:
        "3100": loki
    quickFilters:
    - name: Applications
      filter:
        src_namespace!: 'openshift-,netobserv'
        dst_namespace!: 'openshift-,netobserv'
      default: true
    - name: Infrastructure
      filter:
        src_namespace: 'openshift-,netobserv'
        dst_namespace: 'openshift-,netobserv'
    - name: Pods network
      filter:
        src_kind: 'Pod'
        dst_kind: 'Pod'
      default: true
    - name: Services network
      filter:
        dst_kind: 'Service'
  exporters: []
    # - type: KAFKA
    #   kafka:
    #     address: "kafka-cluster-kafka-bootstrap.netobserv"
    #     topic: netobserv-flows-export
