apiVersion: flows.netobserv.io/v1beta2
kind: FlowCollector
metadata:
  name: cluster
spec:
  namespace: netobserv
  deploymentModel: Direct
  agent:
    type: eBPF
    ebpf:
      imagePullPolicy: IfNotPresent
      logLevel: info
      sampling: 50
      cacheActiveTimeout: 5s
      cacheMaxFlows: 100000
      # Change privileged to "true" on old kernel version not knowing CAP_BPF or when using "PacketDrop" feature
      privileged: false
      # features: 
      # - "PacketDrop"
      # - "DNSTracking"
      # - "FlowRTT"
      interfaces: []
      excludeInterfaces: ["lo"]
      kafkaBatchSize: 10485760
      # Custom optionnal resources configuration
      resources:
        requests:
          memory: 50Mi
          cpu: 100m
        limits:
          memory: 800Mi
  kafka:
    address: "kafka-cluster-kafka-bootstrap.netobserv"
    topic: network-flows
    tls:
      enable: false
      caCert:
        type: secret
        name: kafka-cluster-cluster-ca-cert
        certFile: ca.crt
      userCert:
        type: secret
        name: flp-kafka
        certFile: user.crt
        certKey: user.key
  processor:
    imagePullPolicy: IfNotPresent
    logLevel: info
    # Change logTypes to "CONVERSATIONS" or "ALL" to enable conversation tracking
    logTypes: Flows
    # Append a unique cluster name to each record
    # clusterName: <CLUSTER NAME>
    metrics:
      server:
        port: 9102
      disableAlerts: []
      # includeList:
      #   - "node_ingress_bytes_total"
      #   - "workload_ingress_bytes_total"
      #   - "namespace_flows_total"
      #   - "namespace_drop_packets_total"
      #   - "namespace_rtt_seconds"
    # Kafka consumer stage configuration
    kafkaConsumerReplicas: 3
    kafkaConsumerAutoscaler: null
    kafkaConsumerQueueCapacity: 1000
    kafkaConsumerBatchSize: 10485760
    # Loki write stage configuration
    lokiTimeout: 10s
    lokiBatchWait: 1s
    lokiBatchSize: 10485760
    # Custom optionnal resources configuration
    resources:
      requests:
        memory: 100Mi
        cpu: 100m
      limits:
        memory: 800Mi
  loki:
    enable: true
    # Change mode to "LokiStack" to use with the loki operator
    mode: Monolithic
    monolithic:
      url: 'http://loki.netobserv.svc:3100/'
      tenantID: netobserv 
      tls:
        enable: false
        caCert:
          type: configmap
          name: loki-gateway-ca-bundle
          certFile: service-ca.crt
    lokiStack:
      name: loki
      # Change loki operator instance namespace
      # namespace: loki-operator
  consolePlugin:
    enable: true
    imagePullPolicy: IfNotPresent
    logLevel: info
    # Scaling configuration
    replicas: 1
    autoscaler:
      status: Disabled
      minReplicas: 1
      maxReplicas: 3
      metrics:
      - type: Resource
        resource:
          name: cpu
          target:
            type: Utilization
            averageUtilization: 50
    # Custom optionnal port-to-service name translation
    portNaming:
      enable: true
      portNames:
        "3100": loki
    # Custom optionnal filter presets
    quickFilters:
    - name: Applications
      filter:
        src_namespace!: 'openshift-,netobserv'
        dst_namespace!: 'openshift-,netobserv'
      default: true
    - name: Infrastructure
      filter:
        src_namespace: 'openshift-,netobserv'
        dst_namespace: 'openshift-,netobserv'
    - name: Pods network
      filter:
        src_kind: 'Pod'
        dst_kind: 'Pod'
      default: true
    - name: Services network
      filter:
        dst_kind: 'Service'
    # Custom optionnal resources configuration
    resources:
      requests:
        memory: 50Mi
        cpu: 100m
      limits:
        memory: 100Mi
  exporters: []
    # - type: Kafka
    #   kafka:
    #     address: "kafka-cluster-kafka-bootstrap.netobserv"
    #     topic: netobserv-flows-export
    # or
    # - type: IPFIX
    #   ipfix:
    #     targetHost: "ipfix-collector.ipfix.svc.cluster.local"
    #     targetPort: 4739
    #     transport: TCP or UDP (optional - defaults to TCP)
