apiVersion: flows.netobserv.io/v1alpha1
kind: FlowCollector
metadata:
  name: cluster
spec:
  namespace: netobserv
  deploymentModel: DIRECT
  agent:
    type: EBPF
    ebpf:
      imagePullPolicy: IfNotPresent
      sampling: 50
      cacheActiveTimeout: 5s
      cacheMaxFlows: 100000
      interfaces: [ ]
      excludeInterfaces: [ "lo" ]
      logLevel: info
      resources:
        requests:
          memory: 50Mi
          cpu: 100m
        limits:
          memory: 800Mi
      kafkaBatchSize: 10485760
  processor:
    port: 2055
    imagePullPolicy: IfNotPresent
    logLevel: info
    profilePort: 6060
    metrics:
      server:
        port: 9102
      ignoreTags:
        - flows
        - bytes
        - packets
    dropUnusedFields: true
    resources:
      requests:
        memory: 100Mi
        cpu: 100m
      limits:
        memory: 800Mi
    kafkaConsumerReplicas: 3
    kafkaConsumerAutoscaler: null
    kafkaConsumerQueueCapacity: 1000
    kafkaConsumerBatchSize: 10485760
  kafka:
    address: "kafka-cluster-kafka-bootstrap.netobserv"
    topic: network-flows
    tls:
      enable: false
      caCert:
        type: secret
        name: kafka-cluster-cluster-ca-cert
        certFile: ca.crt
      userCert:
        type: secret
        name: flp-kafka
        certFile: user.crt
        certKey: user.key
  loki:
    url: 'http://loki.netobserv.svc:3100/'
    # Uncomment lines below for typical installation with loki-operator (5.6+ needed)
    # url: 'https://loki-gateway-http.netobserv.svc:8080/api/logs/v1/network/'
    # statusUrl: 'https://loki-query-frontend-http.netobserv.svc:3100/'
    # authToken: HOST
    tls:
      enable: false
      caCert:
        type: configmap
        name: loki-gateway-ca-bundle
        certFile: service-ca.crt
      insecureSkipVerify: false
    batchWait: 1s
    batchSize: 10485760
    minBackoff: 1s
    maxBackoff: 5s
    maxRetries: 2
  consolePlugin:
    register: true
    imagePullPolicy: IfNotPresent
    port: 9001
    logLevel: info
    autoscaler:
      status: DISABLED
      minReplicas: 1
      maxReplicas: 3
      metrics:
      - type: Resource
        resource:
          name: cpu
          target:
            type: Utilization
            averageUtilization: 50
    portNaming:
      enable: true
      portNames:
        "3100": loki
    quickFilters:
    - name: Applications
      filter:
        src_namespace!: 'openshift-,netobserv'
        dst_namespace!: 'openshift-,netobserv'
      default: true
    - name: Infrastructure
      filter:
        src_namespace: 'openshift-,netobserv'
        dst_namespace: 'openshift-,netobserv'
    - name: Pods network
      filter:
        src_kind: 'Pod'
        dst_kind: 'Pod'
      default: true
    - name: Services network
      filter:
        dst_kind: 'Service'
  exporters: []
    # - type: KAFKA
    #   kafka:
    #     address: "kafka-cluster-kafka-bootstrap.netobserv"
    #     topic: netobserv-flows-export
