apiVersion: flows.netobserv.io/v1beta2
kind: FlowCollector
metadata:
  name: cluster
spec:
  namespace: netobserv
  deploymentModel: Direct
  agent:
    type: Ebpf
    ebpf:
      imagePullPolicy: IfNotPresent
      sampling: 50
      cacheActiveTimeout: 5s
      cacheMaxFlows: 100000
      privileged: false
      # features: 
      # - "PacketDrop"
      # - "DNSTracking"
      # - "FlowRTT"
      interfaces: [ ]
      excludeInterfaces: [ "lo" ]
      logLevel: info
      resources:
        requests:
          memory: 50Mi
          cpu: 100m
        limits:
          memory: 800Mi
      kafkaBatchSize: 10485760
  processor:
    port: 2055
    imagePullPolicy: IfNotPresent
    logLevel: info
    profilePort: 6060
    metrics:
      server:
        port: 9102
      disableAlerts: []
      # includeList:
      #   - "node_ingress_bytes_total"
      #   - "workload_ingress_bytes_total"
      #   - "namespace_flows_total"
      #   - "namespace_drop_packets_total"
      #   - "namespace_rtt_seconds"
    dropUnusedFields: true
    resources:
      requests:
        memory: 100Mi
        cpu: 100m
      limits:
        memory: 800Mi
    kafkaConsumerReplicas: 3
    kafkaConsumerAutoscaler: null
    kafkaConsumerQueueCapacity: 1000
    kafkaConsumerBatchSize: 10485760
    logTypes: Flows
    conversationTerminatingTimeout: 5s
    conversationHeartbeatInterval: 30s
    conversationEndTimeout: 10s
    # Append a unique cluster name to each record
    # clusterName: <CLUSTER NAME>
  kafka:
    address: "kafka-cluster-kafka-bootstrap.netobserv"
    topic: network-flows
    tls:
      enable: false
      caCert:
        type: secret
        name: kafka-cluster-cluster-ca-cert
        certFile: ca.crt
      userCert:
        type: secret
        name: flp-kafka
        certFile: user.crt
        certKey: user.key
  loki:
    enable: true
    # Change mode to "LokiStack" to use with the loki operator
    mode: Monolithic
    monolithic:
      url: 'http://loki.netobserv.svc:3100/'
      tenantID: netobserv 
      tls:
        enable: false
        caCert:
          type: configmap
          name: loki-gateway-ca-bundle
          certFile: service-ca.crt
    lokiStack:
      name: loki
      # Change loki operator instance namespace
      # namespace: loki-operator
    batchWait: 1s
    batchSize: 10485760
    minBackoff: 1s
    maxBackoff: 5s
    maxRetries: 2
  consolePlugin:
    register: true
    imagePullPolicy: IfNotPresent
    port: 9001
    logLevel: info
    autoscaler:
      status: Disabled
      minReplicas: 1
      maxReplicas: 3
      metrics:
      - type: Resource
        resource:
          name: cpu
          target:
            type: Utilization
            averageUtilization: 50
    portNaming:
      enable: true
      portNames:
        "3100": loki
    quickFilters:
    - name: Applications
      filter:
        src_namespace!: 'openshift-,netobserv'
        dst_namespace!: 'openshift-,netobserv'
      default: true
    - name: Infrastructure
      filter:
        src_namespace: 'openshift-,netobserv'
        dst_namespace: 'openshift-,netobserv'
    - name: Pods network
      filter:
        src_kind: 'Pod'
        dst_kind: 'Pod'
      default: true
    - name: Services network
      filter:
        dst_kind: 'Service'
  exporters: []
    # - type: Kafka
    #   kafka:
    #     address: "kafka-cluster-kafka-bootstrap.netobserv"
    #     topic: netobserv-flows-export
    # or
    # - type: Ipfix
    #   ipfix:
    #     targetHost: "ipfix-collector.ipfix.svc.cluster.local"
    #     targetPort: 4739
    #     transport: TCP or UDP (optional - defaults to TCP)
