apiVersion: flows.netobserv.io/v1alpha1
kind: FlowCollector
metadata:
  name: cluster
spec:
  namespace: "network-observability"
  agent: ebpf
  ipfix:
    cacheActiveTimeout: 60s
    cacheMaxFlows: 100
    sampling: 400
  ebpf:
    image: 'quay.io/netobserv/netobserv-ebpf-agent:main'
    imagePullPolicy: IfNotPresent
    sampling: 0
    cacheActiveTimeout: 5s
    cacheMaxFlows: 1000
    interfaces: []
    excludeInterfaces: ["lo"]
    logLevel: info
    privileged: true
  flowlogsPipeline:
    kind: DaemonSet
#    kind: Deployment
#    replicas: 1
    port: 2055
    image: 'quay.io/netobserv/flowlogs-pipeline:main'
    imagePullPolicy: IfNotPresent
    logLevel: info
    enableKubeProbes: true
    healthPort: 8080
    prometheusPort: 9102
  kafka:
    enable: false
    address: "kafka-cluster-kafka-bootstrap"
    topic: "network-flows"
  loki:
    url: 'http://loki:3100/'
    batchWait: 1s
    batchSize: 102400
    minBackoff: 1s
    maxBackoff: 300s
    maxRetries: 10
    staticLabels:
      app: netobserv-flowcollector
  consolePlugin:
    register: true
    image: 'quay.io/netobserv/network-observability-console-plugin:main'
    imagePullPolicy: IfNotPresent
    port: 9001
    logLevel: info
    portNaming:
      enable: true
      portNames:
        "3100": loki
  clusterNetworkOperator:
    namespace: "openshift-network-operator"
  ovnKubernetes:
    namespace: "ovn-kubernetes"
    daemonSetName: "ovnkube-node"
    containerName: "ovnkube-node"
