#flp_confgen
description:
  This metric observes the incoming traffic
details:
  Sum packet number for incoming traffic per source and destination namespaces and owners
usage:
  Evaluate network incoming usage breakdown per source and destination namespaces and owners
tags:
  - ingress
  - packets
  - workloads
encode:
  type: prom
  prom:
    metrics:
      - name: workload_ingress_packets_total
        type: counter
        valuekey: Packets
        filter:
          key: FlowDirection
          value: "0"
        labels:
          - SrcK8S_Namespace
          - DstK8S_Namespace
          - SrcK8S_OwnerName
          - DstK8S_OwnerName
          - SrcK8S_OwnerType
          - DstK8S_OwnerType
