apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: flp
  labels:
    k8s-app: flp
spec:
  selector:
    matchLabels:
      k8s-app: flp
  template:
    metadata:
      labels:
        k8s-app: flp
    spec:
      serviceAccountName: ebpf-agent-test
      containers:
        - name: flp
          image: quay.io/netobserv/flowlogs-pipeline:v0.1.3-rc3
          args:
            - --config=/etc/flp/config.yaml
          volumeMounts:
            - mountPath: /etc/flp
              name: config-volume
      volumes:
        - name: config-volume
          configMap:
            name: flp-config
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: flp-config
data:
  config.yaml: |
    log-level: debug
    pipeline:
      - name: ingest
      - name: enrich
        follows: ingest
      - name: loki
        follows: enrich
    parameters:
      - name: ingest
        ingest:
          type: kafka
          kafka:
            brokers: ["kafka-cluster-kafka-bootstrap"]
            topic: network-flows
            groupId: kafka-transformer
            decoder:
              type: json
      - name: enrich
        transform:
          type: network
          network:
            rules:
              - input: SrcAddr
                output: SrcK8S
                type: "add_kubernetes"
              - input: DstAddr
                output: DstK8S
                type: "add_kubernetes"
      - name: loki
        write:
          type: loki
          loki:
            type: loki
            staticLabels:
              app: netobserv-flowcollector
            labels:
              - "SrcK8S_Namespace"
              - "SrcK8S_OwnerName"
              - "DstK8S_Namespace"
              - "DstK8S_OwnerName"
              - "FlowDirection"
            url: http://loki:3100
            timestampLabel: TimeFlowEndMs
            timestampScale: 1ms
