# Global configuration
clusterDomain: cluster.local
certManager:
  enable: true
  # if existingIssuer.name is not provided, a new self-signed Issuer will be created
  existingIssuer:
    kind: ""
    name: ""
  trustNamespace: cert-manager
# Deployment manifest values
ebpfAgent:
  image: quay.io/netobserv/netobserv-ebpf-agent
  version: v1.11.0-community
flowlogsPipeline:
  image: quay.io/netobserv/flowlogs-pipeline
  version: v1.11.0-community
consolePlugin:
  image: quay.io/netobserv/network-observability-console-plugin
  version: v1.11.0-community
standaloneConsole:
  enable: true
  image: quay.io/netobserv/network-observability-standalone-frontend
  version: v1.11.0-community
operator:
  image: quay.io/netobserv/network-observability-operator
  version: 1.11.0-community
  # Node affinity configuration for the operator deployment
  nodeAffinity: {}
  # Example:
  # requiredDuringSchedulingIgnoredDuringExecution:
  #   nodeSelectorTerms:
  #   - matchExpressions:
  #     - key: kubernetes.io/arch
  #       operator: In
  #       values:
  #       - amd64
  # preferredDuringSchedulingIgnoredDuringExecution:
  # - weight: 100
  #   preference:
  #     matchExpressions:
  #     - key: node-role.kubernetes.io/worker
  #       operator: In
  #       values:
  #       - "true"
# Dependency toggle condition value
install:
  prom-stack: false
  loki: false
# Subcharts config
prom-stack:
  prometheus:
    prometheusSpec:
      ruleSelector:
        matchLabels:
          part-of: netobserv-operator
      serviceMonitorSelector:
        matchLabels:
          part-of: netobserv-operator
  defaultRules:
    create: false
  grafana:
    enabled: false
  kubeApiServer:
    enabled: false
  kubelet:
    enabled: false
  kubeControllerManager:
    enabled: false
  coreDns:
    enabled: false
  kubeEtcd:
    enabled: false
  kubeScheduler:
    enabled: false
  kubeProxy:
    enabled: false
  kubeStateMetrics:
    enabled: false
prometheus:
  server:
    global:
      scrape_interval: 15s
  kube-state-metrics:
    enabled: false
  prometheus-node-exporter:
    enabled: false
  prometheus-pushgateway:
    enabled: false
loki-stack:
  promtail:
    enabled: false
