
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.6.1
  creationTimestamp: null
  name: flowcollectors.flows.netobserv.io
spec:
  group: flows.netobserv.io
  names:
    kind: FlowCollector
    listKind: FlowCollectorList
    plural: flowcollectors
    singular: flowcollector
  scope: Cluster
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: FlowCollector is the Schema for the flowcollectors API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: FlowCollectorSpec defines the desired state of FlowCollector
            properties:
              goflowkube:
                description: GoflowKube contains settings related to goflow-kube
                properties:
                  image:
                    default: quay.io/netobserv/goflow-kube:latest
                    description: Image is the collector image (including domain and
                      tag)
                    type: string
                  imagePullPolicy:
                    default: IfNotPresent
                    description: ImagePullPolicy is the Kubernetes pull policy for
                      the image defined above
                    enum:
                    - IfNotPresent
                    - Always
                    - Never
                    type: string
                  kind:
                    default: DaemonSet
                    description: Kind is the workload kind, either DaemonSet or Deployment
                    enum:
                    - DaemonSet
                    - Deployment
                    type: string
                  logLevel:
                    default: info
                    description: LogLevel defines the log level for the collector
                      runtime
                    enum:
                    - trace
                    - debug
                    - info
                    - warn
                    - error
                    - fatal
                    - panic
                    type: string
                  port:
                    default: 2055
                    description: 'Port is the collector port: either a service port
                      for Deployment kind, or host port for DaemonSet kind'
                    format: int32
                    maximum: 65535
                    minimum: 1
                    type: integer
                  replicas:
                    default: 1
                    description: Replicas defines the number of replicas (pods) to
                      start for Deployment kind. Ignored for DaemonSet.
                    format: int32
                    minimum: 0
                    type: integer
                  resources:
                    description: 'Compute Resources required by this container. Cannot
                      be updated. More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/'
                    properties:
                      limits:
                        additionalProperties:
                          anyOf:
                          - type: integer
                          - type: string
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                        description: 'Limits describes the maximum amount of compute
                          resources allowed. More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/'
                        type: object
                      requests:
                        additionalProperties:
                          anyOf:
                          - type: integer
                          - type: string
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                        description: 'Requests describes the minimum amount of compute
                          resources required. If Requests is omitted for a container,
                          it defaults to Limits if that is explicitly specified, otherwise
                          to an implementation-defined value. More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/'
                        type: object
                    type: object
                type: object
              ipfix:
                description: IPFIX contains IPFIX-related settings for the flow reporter
                properties:
                  cacheActiveTimeout:
                    default: 10s
                    description: CacheActiveTimeout is the max period during which
                      the reporter will aggregate flows before sending
                    type: string
                  cacheMaxFlows:
                    default: 100
                    description: CacheMaxFlows is the max number of flows in an aggregate;
                      when reached, the reporter sends the flows
                    format: int32
                    minimum: 0
                    type: integer
                  sampling:
                    default: 400
                    description: Sampling is the sampling rate on the reporter. 100
                      means one flow on 100 is sent. 0 means disabled.
                    format: int32
                    minimum: 0
                    type: integer
                type: object
              loki:
                description: Loki contains settings related to the loki client
                properties:
                  batchSize:
                    default: 102400
                    description: BatchSize is max batch size (in bytes) of logs to
                      accumulate before sending
                    format: int64
                    minimum: 1
                    type: integer
                  batchWait:
                    default: 1s
                    description: BatchWait is max time to wait before sending a batch
                    type: string
                  maxBackoff:
                    default: 300s
                    description: MaxBackoff is the maximum backoff time for client
                      connection between retries
                    type: string
                  maxRetries:
                    default: 10
                    description: MaxRetries is the maximum number of retries for client
                      connections
                    format: int32
                    minimum: 0
                    type: integer
                  minBackoff:
                    default: 1s
                    description: MinBackoff is the initial backoff time for client
                      connection between retries
                    type: string
                  staticLabels:
                    additionalProperties:
                      type: string
                    default:
                      app: netobserv-flowcollector
                    description: StaticLabels is a map of common labels to set on
                      each flow
                    type: object
                  timeout:
                    default: 10s
                    description: Timeout is the maximum time connection / request
                      limit A Timeout of zero means no timeout.
                    type: string
                  url:
                    default: http://loki:3100/
                    description: URL is the address of an existing Loki service to
                      push the flows to.
                    type: string
                type: object
            type: object
          status:
            description: FlowCollectorStatus defines the observed state of FlowCollector
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
