name: Build and Push Image
on:
#  push:
#    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build and push image
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2

    - name: Build Image
      id: build-image
      uses: redhat-actions/buildah-build@v2
      with:
        image: network-observability-operator
        tags: pr-${{ github.sha }}
        dockerfiles: |
          ./Dockerfile
        labels: |
          quay.expires-after=2w

    - name: Push To quay.io
      id: push-to-quay
      uses: redhat-actions/push-to-registry@v2
      with:
        image: ${{ steps.build-image.outputs.image }}
        tags: ${{ steps.build-image.outputs.tags }}
        registry: quay.io/netobserv
        username: netobserv+github_ci
        password: test

    - name: Print image url
      run: echo "Image pushed to ${{ steps.push-to-quay.outputs.registry-paths }}"
