name: pull request checks

on:
  pull_request:
    branches: ['*']

jobs:
  build-lint-test:
    name: Build, lint, test
    runs-on: ubuntu-latest
    steps:
    - name: install make
      run: sudo apt-get install make
    - name: set up go 1.x
      uses: actions/setup-go@v3
      with:
        go-version: '1.25'
    - name: checkout
      uses: actions/checkout@v3
    - name: check format
      run: make fmt && git add -A && git diff --exit-code
    - name: build, lint, test
      run: make build lint test
    - name: check clean vendors
      run: go mod vendor
    - name: Report coverage
      uses: codecov/codecov-action@v4
      with:
        files: ./cover.out
        flags: unittests
        fail_ci_if_error: false
        verbose: true

  bundle-check:
    runs-on: ubuntu-latest
    name: Checking bundle up-to-date
    steps:
    - name: install make
      run: sudo apt-get install make
    - name: checkout
      uses: actions/checkout@v3
    - name: generate bundle
      run: make update-bundle
    - name: check bundle clean state
      run: git add -A && git diff HEAD -I "operator-sdk-v" -I "createdAt" --exit-code
    - if: ${{ failure() }}
      name: print info
      run: echo "::error::Bundle isn't in a clean state. Did you forget to run 'make update-bundle' ?"; exit 1

  helm-check:
    runs-on: ubuntu-latest
    name: Checking helm up-to-date and valid
    steps:
    - name: install make
      run: sudo apt-get install make

    - name: checkout
      uses: actions/checkout@v3

    - name: generate helm
      run: make helm-update

    - name: check helm clean state
      run: git add -A && git diff HEAD --exit-code

    - name: set up Helm
      uses: azure/setup-helm@v4.2.0
      with:
        version: v3.17.0

    - name: run helm lint
      run: helm lint helm/
