name: Build and push to quay.io
on:
  push:
    branches: [ main ]

env:
  REGISTRY_USER: netobserv+github_ci
  REGISTRY_PASSWORD: ${{ secrets.QUAY_SECRET }}
  REGISTRY: quay.io/netobserv
  IMAGE: network-observability-operator
  TAGS: main
  BUNDLE_VERSION: 0.0.0-main

jobs:
  push-image:
    name: push image
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ['1.19']
    steps:
      - name: install make
        run: sudo apt-get install make
      - name: set up go 1.x
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
      - name: checkout
        uses: actions/checkout@v3
      - name: build images
        run: make ci-images-build
      - name: podman login to quay.io
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{ env.REGISTRY_USER }}
          password: ${{ env.REGISTRY_PASSWORD }}
          registry: quay.io
      - name: get short sha
        run: echo "short_sha=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
      - name: push to quay.io
        id: push-to-quay
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ env.IMAGE }}
          tags: ${{ env.TAGS }} ${{ env.short_sha }}
          registry: ${{ env.REGISTRY }}
      - name: print image url
        run: echo "Image pushed to ${{ steps.push-to-quay.outputs.registry-paths }}"
      - name: build bundle
        run: OPERATOR_VERSION=${{ env.TAGS }} PLG_VERSION=${{ env.TAGS }} FLP_VERSION=${{ env.TAGS }} BPF_VERSION=${{ env.TAGS }} BUNDLE_VERSION=${{ env.BUNDLE_VERSION }} make bundle bundle-build
      - name: push bundle to quay.io
        id: push-bundle
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ env.IMAGE }}-bundle
          tags: v${{ env.BUNDLE_VERSION }}
          registry: ${{ env.REGISTRY }}
      - name: build catalog
        run: BUNDLE_VERSION=${{ env.BUNDLE_VERSION }} make catalog-build
      - name: push catalog to quay.io
        id: push-catalog
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ env.IMAGE }}-catalog
          tags: v${{ env.BUNDLE_VERSION }}
          registry: ${{ env.REGISTRY }}
      - name: print images reference
        run: |
          echo "Images: ${{ steps.push-to-quay.outputs.registry-paths }}, ${{ steps.push-bundle.outputs.registry-paths }}, ${{ steps.push-catalog.outputs.registry-paths }}"
