name: release to quay.io
on:
  push:
    tags: ['*']

env:
  REGISTRY_USER: netobserv+github_ci
  REGISTRY_PASSWORD: ${{ secrets.QUAY_SECRET }}
  REGISTRY: quay.io/netobserv
  IMAGE: network-observability-operator

jobs:
  push-image:
    name: push image
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ['1.19']
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: validate tag
        run: |
          tag=`git describe --exact-match --tags 2> /dev/null`
          if [[ $tag =~ ^[0-9]+\.[0-9]+\.[0-9]+(-rc[0-9]+)?$ ]]; then
              echo "$tag is a valid release tag"
              set -e
              echo "tag=$tag" >> $GITHUB_ENV
          else
              echo "$tag is NOT a valid release tag"
              exit 1
          fi
      - name: install make
        run: sudo apt-get install make
      - name: set up go 1.x
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}
      - name: build operator
        run: VERSION=${{ env.tag }} IMAGE_TAG_BASE=${{ env.REGISTRY }}/${{ env.IMAGE }} make image-build
      - name: podman login to quay.io
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{ env.REGISTRY_USER }}
          password: ${{ env.REGISTRY_PASSWORD }}
          registry: quay.io
      - name: push operator to quay.io
        id: push-operator
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ env.IMAGE }}
          tags: ${{ env.tag }}
          registry: ${{ env.REGISTRY }}
      - name: build bundle
        run: BUNDLE_VERSION=${{ env.tag }} IMAGE_TAG_BASE=${{ env.REGISTRY }}/${{ env.IMAGE }} make bundle-build
      - name: push bundle to quay.io
        id: push-bundle
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ env.IMAGE }}-bundle
          tags: v${{ env.tag }}
          registry: ${{ env.REGISTRY }}
      - name: build catalog
        run: BUNDLE_VERSION=${{ env.tag }} IMAGE_TAG_BASE=${{ env.REGISTRY }}/${{ env.IMAGE }} make catalog-build
      - name: push catalog to quay.io
        id: push-catalog
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ env.IMAGE }}-catalog
          tags: v${{ env.tag }}
          registry: ${{ env.REGISTRY }}
      - name: print images reference
        run: |
          echo "Images: ${{ steps.push-operator.outputs.registry-paths }}, ${{ steps.push-bundle.outputs.registry-paths }}, ${{ steps.push-catalog.outputs.registry-paths }}"
