name: release to quay.io
on:
  push:
    tags: ['*']

env:
  REGISTRY_USER: rhn_support_memodi
  REGISTRY_PASSWORD: ${{ secrets.QUAY_SECRET }}
  REGISTRY: quay.io/rhn_support_memodi
  IMAGE: network-observability-operator

jobs:
  push-image:
    name: push image
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        go: ['1.17']
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: validate tag
        id: validate_tag
        run: |
          tag=`git describe --exact-match --tags 2> /dev/null`
          if [[ $tag =~ ^[0-9]+\.[0-9]+\.[0-9]+(-rc[0-9]+)?$ ]]; then
              echo "$tag is a valid release tag"
              set -e
              echo "::set-output name=tag::$tag"
          else
              echo "$tag is NOT a valid release tag"
              exit 1
          fi
      - name: install make
        run: sudo apt-get install make
      - name: set up go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
      - name: build operator
        run: VERSION=${{ steps.validate_tag.outputs.tag }} IMAGE_TAG_BASE=${{ env.REGISTRY }}/${{ env.IMAGE }} make image-build
      - name: podman login to quay.io
        uses: redhat-actions/podman-login@v1
        with:
          username: ${{ env.REGISTRY_USER }}
          password: ${{ env.REGISTRY_PASSWORD }}
          registry: quay.io
      - name: push operator to quay.io
        id: push-operator
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ env.IMAGE }}
          tags: ${{ steps.validate_tag.outputs.tag }}
          registry: ${{ env.REGISTRY }}
      - name: build bundle
        run: VERSION=${{ steps.validate_tag.outputs.tag }} IMAGE_TAG_BASE=${{ env.REGISTRY }}/${{ env.IMAGE }} make bundle-build
      - name: push bundle to quay.io
        id: push-bundle
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ env.IMAGE }}-bundle
          tags: v${{ steps.validate_tag.outputs.tag }}
          registry: ${{ env.REGISTRY }}
      - name: build catalog
        run: VERSION=${{ steps.validate_tag.outputs.tag }} IMAGE_TAG_BASE=${{ env.REGISTRY }}/${{ env.IMAGE }} make catalog-build
      - name: push catalog to quay.io
        id: push-catalog
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ env.IMAGE }}-catalog
          tags: v${{ steps.validate_tag.outputs.tag }}
          registry: ${{ env.REGISTRY }}
      - name: print images reference
        run: |
          echo "Images: ${{ steps.push-operator.outputs.registry-paths }}, ${{ steps.push-bundle.outputs.registry-paths }}, ${{ steps.push-catalog.outputs.registry-paths }}"
